python-dotenv == 0.21.0 ; python_version >= "3.9" and python_version < "3.10"  
google-api-core[grpc]==2.10.1 ; python_version >= "3.9" and python_version < "3.10"
google-cloud-bigquery==2.34.3 ; python_version >= "3.9" and python_version < "3.10"
